<div class = "nested-fields">
  <div class="row">
    <div class = "col-xs-9">
      <p><%= f.text_field :similar_word %></p>
    </div>
    <div class = "col-xs-3">
      <p><%= link_to_remove_association "削除", f, class: "btn btn-info"%></p>
    </div>
  </div>
</div>
