<div class = "row">
  <div class = "col-md-8 col-md-offset-2">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>単語マスタメンテナンス</h1>
      </div>
      <div class = "panel-body">
        <ul>
        <li><%= link_to "単語新規作成", new_question_path %></li>
        <li><%= link_to "メインメニューに戻る", root_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
