<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>新規英単語登録</h1>
      </div>
      <div class = "panel-body">
        <%= render 'form' %>
        <hr>
        <p><%= link_to "マスタメンテナンスに戻る", questions_path %></p>
      </div>
    </div>
  </div>
</div>
