<div class = "row">
  <div class = "col-md-8 col-md-offset-2">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>Main menu</h1>
      </div>
      <div class = "panel-body">
        <p>新規ユーザ作成</p>
        <p>単語帳</p>
        <p>ランキング</p>
        <p>単語マスタメンテナンス</p>
      </div>
    </div>
  </div>
</div>
