<div class = "row">
  <div class = "col-md-8 col-md-offset-2">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>Main menu</h1>
      </div>
      <div class = "panel-body">
        <ul>
        <li><%= link_to "新規ユーザ作成", new_user_path %></li>
        <li>単語帳</li>
        <li><%= link_to "ランキング", users_path %></li>
        <li>単語マスタメンテナンス</li>
        </ul>
      </div>
    </div>
    <p>ログイン状況：　
      <% if logged_in? %>
        <%= current_user.name %>でログイン中
      <% else %>
        ログインしてません。<%= link_to "｜ログインする", login_path %>
      <% end %>
    </p>
  </div>
</div>
