/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.container{
  margin-top: 60px ;
}

.panel-body li{
  margin-top: 20px ;
  font-size: 20px ;
}
.panel h1{
  text-align: center;
}
.panel p{
  text-align: center;
  font-size: 25px ;
}
.panel h5{
  text-align: center;
}
.field_with_errors{
  color: red;
  text-align: center;
  font-size: 25px;
}
.search-form{
  margin-left: 10px;
}
.similar-word{
  margin-left: 35px;
}
